<nav th:fragment="categories-navbar" class="categories-navbar" id="categories-navbar">
    <div class="category">
        <h2>Games and free time</h2>
        <ul>
            <li>
                <a class="" href="#">
                    <span class="material-symbols-outlined">joystick</span>
                    <h3>Gaming</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">extension</span>
                    <h3>Board games and puzzles</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">movie</span>
                    <h3>Music and movies</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">apparel</span>
                    <h3>Murch</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Bookstore</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">menu_book</span>
                    <h3>Books and textbooks</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">draw</span>
                    <h3>Supplies and gifts</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Electronics and computers</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">laptop_mac</span>
                    <h3>Laptops, PC and monitors</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">play_circle</span>
                    <h3>Audio and HI-FI</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">smartphone</span>
                    <h3>Smartphones and smartdevices</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">tv</span>
                    <h3>TV, Foto and video</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Kids and mothers</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <h3>Toys</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">stroller</span>
                    <h3>Mothers and baby</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Health and beauty</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">health_and_beauty</span>
                    <h3>Cosmetics and perfumes</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">medication_liquid</span>
                    <h3>Pharmacy and nutritional supplements</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Sport and outdoor</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">sports_basketball</span>
                    <h3>Sport and camping</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">water_bottle</span>
                    <h3>Lifestyle and fitness</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="category">
        <h2>Home and garden</h2>
        <ul>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">cottage</span>
                    <h3>For home and office</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">draw</span>
                    <h3>Small electrical appliances</h3></a>
            </li>
        </ul>
    </div>
</nav>