.form-blur-background-container {
    height: 200%;
    width: 100%;
    position: absolute;
    backdrop-filter: brightness(50%);
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 10;
}

.form-container {
    /*margin-top: 14em;*/
    background: #ffffff;
    padding: 2em;
    border-radius: 0.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #5454c5;
}

.form-container form {
    height: 35em;
    width: 65em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.product-id-input-hidden {
    display: none;
}

.hide-add-review-form-button {
    padding: 0.8em 0.8em 0.8em 1.3em;
    color: var(--secondary-color);
    background: var(--primary-color);
    border: none;
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    border-radius: 50%;
}

.hide-add-review-form-button:hover {
    background: #f1f1f1;
}

form .collect-data-container {
    height: 8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

form .collect-data-container label {
    font-size: 20px;
    padding-bottom: 0.5em;
    color: #5454c5;
}

form .collect-data-container input {
    height: 60%;
    width: 100%;
    border: 2px solid #cecece;
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: #5454c5;
    padding: 1em;
}

.add-review-button {
    height: 65px;
    width: 400px;
    font-size: 20px;
    color: #ffffff;
    background: #5454c5;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 0.3s;
}


.add-review-button:hover {
    background: #6262e6;
}

.show {
    display: flex;
}