.add-product-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.add-product-container h1 {
    font-size: 40px;
    color: #5454c5;
}

.add-product-container form {
    height: 55em;
    width: 40em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.add-product-container form .collecting-data-container {
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.add-product-container form .collecting-data-container label {
    font-size: 20px;
    padding: 0.5em;
    color: #5454c5;
}

.add-product-container form .collecting-data-container input {
    height: 100%;
    width: 100%;
    border: 2px solid #cecece;
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: #5454c5;
    padding: 1em;
    transition: 0.3s;
}

.add-product-container .collecting-data-container textarea {
    width: 100%;
    padding: 10px 0 6em 1em;
    border: 2px solid #cecece;
    border-radius: 0.6em;
    font-size: 16px;
    color: #5454c5;
    resize: none;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.add-product-container form .textarea-container {
    margin-top: 2em;
}

.add-product-container .collecting-data-container textarea::-webkit-scrollbar {
    display: none;
}

.input-file-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-container .collecting-data-container input[type="file"] {
    width: 100%;
    cursor: pointer;
}

.add-product-container .collecting-data-container input[type="file"]::file-selector-button {
    color: #ffffff;
    background: #5454c5;
    padding: 0.3em 1em;
    border: none;
    border-radius: 0.3em;
}

.add-product-container form .collecting-data-container select {
    height: 100%;
    width: 100%;
    border: 2px solid #cecece;
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: #5454c5;
    padding: 1em;
    transition: 0.3s;
}

.add-product-container form .collecting-data-container select option {
    height: 30px;
    width: 100%;
}

.error {
    color: red;
    border: 2px solid red;
}

form .collecting-data-container input::placeholder {
    color: #cecece;
}

form .collecting-data-container textarea::placeholder {
    color: #cecece;
}

form .collecting-data-container input:focus {
    border: 2px solid #5454c5;
}

form .collecting-data-container textarea:focus {
    border: 2px solid #5454c5;
}

form .collecting-data-container select:focus {
    border: 2px solid #5454c5;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.add-product-button {
    height: 3em;
    width: 100%;
    border: 2px solid #5454c5;
    border-radius: 0.6em;
    font-size: 20px;
    color: #ffffff;
    background: #5454c5;
    cursor: pointer;
    transition: 0.3s;
}

.add-product-button:hover {
    background: #6262e6;
}

.error {

}