.admin-context {
    width: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    /*border: 1px solid white;*/
}

.admin-link {
    padding: 0;
    margin: 0.5em;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.admin-link span.admin-icon {
    color: var(--third-color);
    font-size: 2.5em;
}

.inner-admin-context {
    width: 7em;
    margin-top: 75px;
    padding-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--primary-color);
    position: fixed;
    font-size: 30px;
    border-radius: 2px;
    transform: translateY(10px);
    visibility: hidden;
    transition: transform 0.5s;
    z-index: 1;
}

.inner-admin-context::before {
    content: '';
    background: var(--primary-color);
    height: 1.4em;
    width: 1.4em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

.context-label {
    height: 100%;
    width: 100%;
    text-decoration: none;
    background: transparent;
    border: none;
}

button.context-label {
    height: 100%;
    width: 100%;
    color: var(--secondary-color);
    font-size: 1em;
    cursor: pointer;
}

.inner-admin-context .context-link {
    color: var(--secondary-color);
    background: var(--primary-color);
    list-style-type: none;
    padding: 0.75em 1em;
    font-size: 0.5em;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.inner-admin-context .context-link:hover {
    background: #dedede;
}