body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1em 0;
    color: var(--secondary-color);
    font-size: 3em;
}

.content-container {
    min-height: 45em;
    width: 80em;
    display: flex;
    position: relative;
}

.order-data-collecting-container {
    min-height: 30em;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.order-data-collecting-container .collect-personal-data-container {
    min-height: 8em;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.order-data-collecting-container .collect-personal-data-container .collecting-data-container {
    min-height: 6em;
}

.order-data-collecting-container .collect-personal-data-container .collecting-data-container label {
    color: var(--secondary-color);
    font-size: 2em;
}

.order-data-collecting-container .collect-personal-data-container .collecting-data-container input {
    height: 3.5em;
    width: 100%;
    border: 2px solid #cecece;
    /* border: none; */
    /* border-bottom: 1px solid #5454c5; */
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: var(--secondary-color);
    padding: 1em;
}

.collecting-data-container {
    min-height: 20em;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.collecting-data-container label {
    color: var(--secondary-color);
    font-size: 2em;
}

.collecting-data-container input {
    height: 3.5em;
    width: 100%;
    border: 2px solid #cecece;
    /* border: none; */
    /* border-bottom: 1px solid #5454c5; */
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: var(--secondary-color);
    padding: 1em;
}

.collecting-data-container select {
    height: 3.5em;
    width: 100%;
    border: 2px solid #cecece;
    /* border: none; */
    /* border-bottom: 1px solid #5454c5; */
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    color: var(--secondary-color);
    padding: 1em;
    cursor: pointer;
}

.collecting-location {
    gap: 3em;
}

.order-info-container {
    height: 20em;
    width: 20em;
    position: absolute;
    top: 3.3em;
    right: 0;
}

.order-info-container .pricing-content {
    height: 70%;
}

.order-info-container h2 {
    height: 2em;
    width: 100%;
    color: var(--secondary-color);
    background: #f3f3f3;
    padding: 0.3em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4em;
}

.order-info-container h2 span {
    font-size: 1em;
}

.order-info-container .prices-container {
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.order-info-container .prices-container .price-container {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}

.order-info-container .sum-container {
    height: 3em;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 0 1em;
}


.order-info-container button {
    height: 3em;
    width: 100%;
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background 0.3s;
}

.order-info-container button:hover {
    background: #6262e6;
}