.navbar {
    max-height: 4em;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    border-bottom: 1px solid #5b5b5b;
    box-shadow: 0 0 5px 0 #4f4e4e;
}

.navbar .navbar-brand {}

.navbar .navbar-brand .logo {
    max-height: 4em;
    max-width: 4em;

    border-radius: 0.5em;
}

form.language-change {
    display: flex;
    gap: 1em;
}

form.language-change label {
    color: var(--secondary-color);
    font-size: 1.2em;
}

form.language-change select {
    padding: 0.5em;
    color: var(--secondary-color);
    font-size: 0.8em;
    background: #eeeeee;
    border: none;
    border-radius: 0.3em;
    outline: none;
}