<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/add-product-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/search-bar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-context-styles.css}" />
    <link rel="stylesheet" th:href="@{css/cart-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/profile-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/second-navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/categories-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer-styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script th:src="@{/js/adminContext.js}" defer></script>
    <script th:src="@{/js/profileContext.js}" defer></script>
    <script th:src="@{/js/categoriesHideAndShow.js}" defer></script>
    <title>My Shop</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <nav th:replace="~{fragments/second-navbar}"></nav>
    <nav th:replace="~{fragments/categories-navbar}"></nav>

    <div class="add-product-container">
        <h1>Add Product</h1>

        <form
                th:action="@{/add-product}"
                th:method="post"
                th:object="${addProductDTO}"
                enctype="multipart/form-data"
                id="add-product">
            <div class="collecting-data-container">
                <label for="name-input">Name</label>
                <input
                        th:field="*{name}"
                        name="name-input"
                        type="text"
                        id="name-input"
                        placeholder="Name">

                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            </div>

            <div class="collecting-data-container">
                <label for="price-input">Price</label>
                <input
                        th:field="*{price}"
                        name="price-input"
                        type="number"
                        min="0"
                        step="0.1"
                        id="price-input"
                        placeholder="Price">

                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></div>
            </div>

            <div class="properties-table-container">
                <table
                        th:field="*{properties}"
                        class="collecting-data-table"
                        id="collecting-data-table">
                    <tr>
                        <th> Property</th>
                        <th> Value</th>
                    </tr>
                    <tr th:each="property, itemStat : *{properties}" id="properties-table-row">
                        <td>
                            <input
                                    th:field="*{properties[__${itemStat.index}__].name}"
                                    name="property"
                                    type="text"
                                    id="property"
                                    placeholder="Property">
                        </td>
                        <td>
                            <input
                                    th:field="*{properties[__${itemStat.index}__].value}"
                                    name="value"
                                    type="text"
                                    id="value"
                                    placeholder="Value">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="collecting-data-container">
                <label>Upload Images 1</label>
                <div class="input-file-container">
                    <input
                            th:field="*{firstImage}"
                            name="urls-input"
                            type="file"
                            accept="/image/*"
                            id="first-image-input"
                            placeholder="Upload image">
                </div>
            </div>

            <div class="collecting-data-container">
                <label for="second-image-input">Upload Image 2</label>
                <div class="input-file-container">
                    <input
                            th:field="*{secondImage}"
                            name="second-image-input"
                            type="file"
                            accept="/image/*"
                            id="second-image-input"
                            placeholder="Upload image">
                </div>
            </div>


            <div class="collecting-data-container">
                <label for="third-image-input">Upload Image 3</label>
                <div class="input-file-container">
                    <input
                            th:field="*{thirdImage}"
                            name="third-image-input"
                            type="file"
                            accept="/image/*"
                            id="third-image-input"
                            placeholder="Upload image">
                </div>
            </div>

            <div class="collecting-data-container">
                <label for="fourth-image-input">Upload Image 4</label>
                <div class="input-file-container">
                    <input
                            th:field="*{fourthImage}"
                            name="fourth-image-input"
                            type="file"
                            accept="/image/*"
                            id="fourth-image-input"
                            placeholder="Upload image">
                </div>
            </div>

            <div class="collecting-data-container">
                <label for="fifth-image-input">Upload Image 5</label>
                <div class="input-file-container">
                    <input
                            th:field="*{fifthImage}"
                            name="fifth-image-input"
                            type="file"
                            accept="/image/*"
                            id="fifth-image-input"
                            placeholder="Upload image">
                </div>
            </div>

            <div class="collecting-data-container">
                <label for="category-input">Category</label>
                <select
                        th:field="*{secondaryCategoryName}"
                        name="category-input"
                        id="category-input">
                    <option value="option">Select Category</option>
                    <option th:each="secondaryCategory : ${secondaryCategories}" th:value="${secondaryCategory}" th:text="${secondaryCategory.name}">Select Category</option>
                </select>
            </div>

            <div class="collecting-data-container">
                <label for="price-input">Quantity</label>
                <input
                        th:field="*{quantity}"
                        name="quantity-input"
                        type="number"
                        min="0"
                        id="quantity-input"
                        placeholder="Quantity">

                <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></div>
            </div>

            <button class="add-product-button" type="submit">Add Product</button>
        </form>
    </div>

    <footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>