<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/add-review-styles.css" />
    <title>My Shop</title>
</head>
<body>
    <div class="form-container">
        <h1>Add Review</h1>

        <form>
            <div class="collect-data-container">
                <label for="input-title">Title</label>
                <input name="input-title" type="text" id="input-title">
            </div>

            <div class="collect-data-container">
                <label for="input-rating">Rating</label>
                <input name="input-rating" type="number" id="input-rating" step="0.1" min="0" max="5">
            </div>

            <div class="collect-data-container">
                <label for="input-description">Description</label>
                <input name="input-description" type="text" id="input-description" placeholder="Description">
            </div>

            <button class="add-review-button" type="submit">Add Review</button>
        </form>
    </div>
</body>
</html>