<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/cart-details-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/search-bar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-context-styles.css}" />
    <link rel="stylesheet" th:href="@{css/cart-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/profile-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/second-navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/categories-styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script th:src="@{/js/adminContext.js}" defer></script>
    <script th:src="@{/js/profileContext.js}" defer></script>
    <script th:src="@{/js/cartContext.js}" defer></script>
    <script th:src="@{/js/categoriesHideAndShow.js}" defer></script>
    <title>My Shop</title>
</head>
<body>

<nav th:replace="~{fragments/navbar}"></nav>
<nav th:replace="~{fragments/second-navbar}"></nav>
<nav th:replace="~{fragments/categories-navbar}"></nav>

<div class="content-container"
    th:method="post"
    th:action="@{#}"
    th:object="${cartData}">
    <div class="order-data-container">
        <h2>Data for order</h2>

        <div class="price-for-product-container">
            <p>Price for product:</p>
            <p th:text="${cartData.priceForProducts + ' LV.'}">2222.99 LV.</p>
        </div>

        <div class="price-for-delivery-container">
            <p>Price for delivery:</p>
            <p th:text="${cartData.priceForDelivery + ' LV.'}">10.99 LV.</p>
        </div>

        <div class="sum-container">
            <p>SUM:</p>
            <p class="order-info-sum-price" th:text="${cartData.priceForSum + ' LV.'}">3300.99 LV.</p>
        </div>

        <a class="continue-button" th:if="${cartData.productsInCart.size > 0}" th:href="@{/collecting-order-details}"><span class="material-symbols-outlined">double_arrow</span> Continue</a>
        <a class="continue-button-deactivated" th:unless="${cartData.productsInCart.size > 0}"><span class="material-symbols-outlined">double_arrow</span> Continue</a>
    </div>

    <div class="products-in-cart-container" >
        <h2 class="product-title">Products in shopping cart</h2>

        <div th:each="product : ${cartData.productsInCart}" th:if="${cartData.productsInCart.size() > 0}" class="product-in-cart-container">
            <div class="left-side-info">
                <div class="product-title-image-container">
                    <h3 th:text="${product.name}">Playstation 5 slim</h3>
                    <img th:src="@{${product.imageUrl}}">
                </div>
            </div>

            <div class="right-side-info">
                <p th:text="${(product.price * product.count) + ' LV.'}">1999.99 LV</p>
                <div class="count-container">
<!--                    <form-->
<!--                            th:method="post"-->
<!--                            th:action="@{/increase-product-count/{id}(id=${product.id})}">-->
<!--                        <button class="product-count-button" type="submit">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                        </button>-->
<!--                    </form>-->
                    <form
                            th:method="put"
                            th:action="@{/increase-product-count/{id}(id=${product.id})}">
                        <button class="product-count-button" type="submit">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </form>

                    <p th:text="${product.count}">1</p>

                    <form
                            th:method="put"
                            th:action="@{/decrease-product-count/{id}(id=${product.id})}">
                        <button class="product-count-button" type="submit">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                    </form>
                </div>
                <form
                    th:method="delete"
                    th:action="@{/delete-product-from-cart/{id}(id=${product.id})}">
                    <button class="delete-product-button" type="submit">Delete</button>
                </form>
            </div>
        </div>

        <div th:if="${!(cartData.productsInCart.size() > 0)}" class="product-in-cart-container">
            <h2>Cart is empty.</h2>
        </div>
    </div>
</div>
</body>
</html>