<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/edit-user-profile-data-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/search-bar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-context-styles.css}" />
    <link rel="stylesheet" th:href="@{css/cart-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/profile-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/second-navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/categories-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/suggest-product-by-category-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer-styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script th:src="@{/js/adminContext.js}" defer></script>
    <script th:src="@{/js/profileContext.js}" defer></script>
    <script th:src="@{/js/cartContext.js}" defer></script>
    <script th:src="@{/js/categoriesHideAndShow.js}" defer></script>
    <title>My Shop</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <nav th:replace="~{fragments/second-navbar}"></nav>
    <nav th:replace="~{fragments/categories-navbar}"></nav>

    <div class="form-container">
        <h1>Edit Profile Data</h1>

        <form
                th:action="@{/edit-user-profile-data}"
                th:method="put"
                th:object="${userEditProfileDataDTO}"
                enctype="multipart/form-data"
                class="edit-user-profile-data-form">
            <div class="collect-name-container">
                <div class="collect-data-container">
                    <label for="input-first-name" th:text="#{capital_first_name}">First Name</label>
                    <input
                            th:field="*{firstName}"
                            th:value="*{firstName}"
                            name="input-first-name"
                            type="text"
                            id="input-first-name"
                            th:placeholder="#{capital_first_name}">

                    <div th:errors="*{firstName}" class="error"></div>
                </div>

                <div class="collect-data-container">
                    <label for="input-last-name" th:text="#{capital_last_name}">Last Name</label>
                    <input
                            th:field="*{lastName}"
                            th:value="*{lastName}"
                            name="input-last-name"
                            type="text"
                            id="input-last-name"
                            th:placeholder="#{capital_last_name}">

                    <div th:errors="*{lastName}" class="error"></div>
                </div>
            </div>

            <div class="collect-data-container">
                <label for="input-phone-number" th:text="#{capital_phone_number}">Phone Number</label>
                <input
                        th:field="*{phoneNumber}"
                        th:value="*{phoneNumber}"
                        name="input-phone-number"
                        type="tel"
                        id="input-phone-number"
                        th:placeholder="#{capital_phone_number}">

                <div th:errors="*{phoneNumber}" class="error"></div>
            </div>

            <div class="collect-data-container">
                <label for="input-birth-date" th:text="#{birthdate}">Birth Date</label>
                <input
                        th:field="*{birthDate}"
                        th:value="*{birthDate}"
                        name="input-birth-date"
                        type="date"
                        id="input-birth-date">

                <div th:errors="*{birthDate}" class="error"></div>
            </div>

            <div class="collect-data-container">
                <label for="input-userEntity-profile-picture" th:text="#{capital_profile_picture}">Profile Picture</label>
                <input
                        th:field="*{profilePicture}"
                        th:value="*{profilePicture}"
                        name="input-userEntity-profile-picture"
                        type="file"
                        id="input-userEntity-profile-picture">

                <div th:errors="*{profilePicture}" class="error"></div>
            </div>

            <button class="apply-changes-button" type="submit" th:text="#{apply_changes}">Apply Changes</button>
        </form>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>