<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/error-resource-not-found-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/search-bar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/cart-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/profile-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/second-navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/categories-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer-styles.css}" />
    <title>My Shop</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <nav th:replace="~{fragments/second-navbar}"></nav>
    <nav th:replace="~{fragments/categories-navbar}"></nav>

    <div class="error-info-container">
        <h1>Wrong turn?</h1>

        <p>There is not what you are looking for. My advice is to follow one of these links to find what you want.</p>

        <ul>
            <a th:href="@{/}">Home Page</a>
            <a th:href="@{/support}">My Shop Support</a>
        </ul>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>