<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/login-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer-styles.css}" />
    <title>My Shop</title>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        <form
            th:method="post"
            th:action="@{/users/login}">
            <div class="data-collecting-container">
                <label for="email">Email</label>
                <input
                        name="email"
                        type="text"
                        id="email"
                        placeholder="Email">
            </div>
            <div class="data-collecting-container">
                <label for="password">Password</label>
                <input
                        name="password"
                        type="password"
                        id="password"
                        placeholder="Password">
            </div>

            <button class="login-button" type="submit">Login</button>
        </form>

        <a th:href="@{/users/register}" class="do-not-have-account-button">Don't have an account ?</a>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>