<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/index.css}" />
    <link rel="stylesheet" th:href="@{css/register-styles.css}" />
    <link rel="stylesheet" th:href="@{css/footer-styles.css}" />
    <title>My Shop</title>
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>

        <form
            th:action="@{/register}"
            th:method="post"
            th:object="${userRegisterDTO}">
            <div class="collect-name-container">
                <div class="collect-data-container">
                    <label for="input-first-name">First Name</label>
                    <input
                            th:field="*{firstName}"
                            name="input-first-name"
                            type="text"
                            id="input-first-name"
                            placeholder="First Name">
                </div>

                <small th:if="${#fields.hasErrors('firstName')}" id="firstNameLengthError"
                       th:errorclass="error"
                        class="first-name-length-error" th:class="${#fields.hasErrors('firstName')}" th:error="*{firstName}">First name length must be between 2 and 20 characters!</small>

                <div class="collect-data-container">
                    <label for="input-last-name">Last Name</label>
                    <input
                            th:field="*{lastName}"
                            th:errorclass="error"
                            name="input-last-name"
                            type="text"
                            id="input-last-name"
                            placeholder="Last Name">
                </div>

                <small th:if="${#fields.hasErrors('lastName')}" id="lastNameLengthError"
                       class="last-name-length-error">Last name must be between 2 and 20 characters!</small>
            </div>

            <div class="collect-data-container">
                <label for="input-email">Email</label>
                <input
                        th:field="*{email}"
                        th:errorclass="error"
                        name="input-email"
                        type="email"
                        id="input-email"
                        placeholder="Email">
            </div>

            <small th:if="${#fields.hasErrors('email')}" id="emailUniqueError"
                   class="email-unique-error">This is associated with other account!</small>

            <div class="collect-name-container">
                <div class="collect-data-container">
                    <label for="input-password">Password</label>
                    <input
                            th:field="*{password}"
                            th:errorclass="error"
                            name="input-password"
                            type="password"
                            id="input-password"
                            placeholder="Password">
                </div>

                <small th:if="${#fields.hasErrors('password')}" id="passwordEmptyError"
                       class="password-empty-error">Password must not be empty!</small>

                <div class="collect-data-container">
                    <label for="input-confirm-password">Confirm password</label>
                    <input
                            th:field="*{confirmPassword}"
                            th:errorclass="error"
                            name="input-confirm-password"
                            type="password"
                            id="input-confirm-password"
                            placeholder="Confirm Password">
                </div>

                <small th:if="${#fields.hasErrors('password')}" id="notMatchingPasswordError"
                       class="not-matching-password-error">The password must matching!</small>
            </div>

            <div class="collect-data-container">
                <label for="input-phone-number">Phone Number</label>
                <input
                        th:field="*{phoneNumber}"
                        th:errorclass="error"
                        name="input-phone-number"
                        type="tel"
                        id="input-phone-number"
                        placeholder="Phone Number">
            </div>

            <small th:if="${#fields.hasErrors('phoneNumber')}" id="phoneNumberLengthError"
                   class="phone-number-length-error">Phone number must max 10 digits!</small>

            <div class="collect-data-container">
                <label for="input-birth-date">Birth Date</label>
                <input
                        th:field="*{birthDate}"
                        th:errorclass="error"
                        name="input-birth-date"
                        type="date"
                        id="input-birth-date"
                        placeholder="Birth Date">
            </div>

            <small th:if="${#fields.hasErrors('birthDate')}" id="birthDateEmptyError"
                   class="birth-date-empty-error">Birth date must not be empty!</small>

            <div class="collect-data-container">
                <label for="input-user-role">Role</label>
                <select
                        th:field="*{userRole}"
                        th:errorclass="error"
                        name="input-user-role"
                        id="input-user-role">
                    <option value="option">Select Role</option>
                    <option th:each="role: ${roles}" th:value="${role}" th:text="${role}">Option</option>
                </select>
            </div>

            <small th:if="${#fields.hasErrors('userRole')}" id="userRoleEmptyError"
                   class="user-role-empty-error">User role must not be empty!</small>

            <button class="register-button" type="submit">Register</button>
        </form>

        <a th:href="@{/login}" class="have-account-button">Have an account?</a>
    </div>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>