<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/register-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/search-bar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/cart-styles.css}">
    <link rel="stylesheet" th:href="@{/css/profile-context-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/second-navbar-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/categories-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/suggest-product-by-category-styles.css}" />
    <link rel="stylesheet" th:href="@{/css/footer-styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script th:src="@{/js/adminContext.js}" defer></script>
    <script th:src="@{/js/profileContext.js}" defer></script>
    <script th:src="@{/js/cartContext.js}" defer></script>
    <script th:src="@{/js/categoriesHideAndShow.js}" defer></script>
    <title>My Shop</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <nav th:replace="~{fragments/second-navbar}"></nav>
    <nav th:replace="~{fragments/categories-navbar}"></nav>

    <div class="form-container">
        <h1 th:text="#{nav_bar_register}">Register</h1>

        <form
            action="/users/register"
            th:method="post"
            th:object="${userRegisterDTO}"
            enctype="multipart/form-data">
            <div class="collect-name-container">
                <div class="collect-data-container">
                    <label for="input-first-name" th:text="#{capital_first_name}">First Name</label>
                    <input
                            th:field="*{firstName}"
                            name="input-first-name"
                            type="text"
                            id="input-first-name"
                            th:placeholder="#{capital_first_name}">
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></div>
                </div>

                <div class="collect-data-container">
                    <label for="input-last-name" th:text="#{capital_last_name}">Last Name</label>
                    <input
                            th:field="*{lastName}"
                            name="input-last-name"
                            type="text"
                            id="input-last-name"
                            th:placeholder="#{capital_last_name}">

                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></div>
                </div>
            </div>

            <div class="collect-data-container">
                <label for="input-email" th:text="#{email}">Email</label>
                <input
                        th:field="*{email}"
                        name="input-email"
                        type="email"
                        id="input-email"
                        th:placeholder="#{email}">

                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
            </div>

            <div class="collect-name-container">
                <div class="collect-data-container">
                    <label for="input-password" th:text="#{password}">Password</label>
                    <input
                            th:field="*{password}"
                            name="input-password"
                            type="password"
                            id="input-password"
                            th:placeholder="#{password}">

                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
                </div>

                <div class="collect-data-container">
                    <label for="input-confirm-password" th:text="#{capital_confirm_password}">Confirm Password</label>
                    <input
                            th:field="*{confirmPassword}"
                            name="input-confirm-password"
                            type="password"
                            id="input-confirm-password"
                            th:placeholder="#{capital_confirm_password}">

                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></div>

<!--                    <div th:if="${confirmPasswordError}" class="error">-->
<!--                        <p>Confirm password must match the password!</p>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="collect-data-container">
                <label for="input-phone-number" th:text="#{capital_phone_number}">Phone Number</label>
                <input
                        th:field="*{phoneNumber}"
                        name="input-phone-number"
                        type="tel"
                        id="input-phone-number"
                        th:placeholder="#{capital_phone_number}">

                <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></div>
            </div>

            <div class="collect-data-container">
                <label for="input-birth-date" th:text="#{birthdate}">Birthdate</label>
                <input
                        th:field="*{birthDate}"
                        name="input-birth-date"
                        type="date"
                        id="input-birth-date">
            </div>

            <div class="collect-data-container">
                <label for="input-userEntity-profile-picture" th:text="#{capital_profile_picture}">Profile Picture</label>
                <input
                        th:field="*{profilePicture}"
                        th:errorclass="error"
                        name="input-userEntity-profile-picture"
                        type="file"
                        id="input-userEntity-profile-picture">
            </div>

            <button class="register-button" type="submit" th:register="#{nav_bar_register}">Register</button>
        </form>

        <a th:href="@{/login}" class="have-account-button" th:text="#{have_an_account}">Have an account ?</a>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>